{% set message = data.message %}
{% set self_id =  data.member.id %}
{% set send_id =  data.message.send_id.target_id %}

{% set sender = data.sender %}


{% set name = message.send_id.entity.name.value ~ " <span>to "  ~ data.message.user_id.entity.name.value ~ "</span>" %}

<div class='user-info'>
	<div class='photo'>
		{% if sender.photo %}
			{% set url = sender.photo.thumbnails.url_thumbnail %}
		{% else %}
			{% set url = '/modules/message/img/no_primary_photo.png' %}
		{% endif %}
		<img src='{{ url }}'/>
	</div>
	<div class='info'>
		<a class='reply top' href="/message/send?receiver={{ message.send_id.entity.name.value }}">
			<img src='/modules/message/img/reply.png'/>Reply 
		</a>
		<div class='name'>{{ name | raw }}</div>
		<div class='date'>{{ message.created.value|date("F d,Y | h:i A") }}</div>
		<div class='location'>Lives in the Philippines</div>		
	</div>
</div>
<div class='message'>
	<div class='title'>
		<table cellpadding=0 cellspacing=0 width='100%'>
			<tr>
				<td class='td-label' width='50'>
					Subject:
				</td>
				<td>
					{% if message.label %}
						{% set title = message.label %}
					{% else %}
						{% set title = "No Subject" %}
					{% endif %}
					<div class='text'>{{ title }}</div>
				</td>
			</tr>
		</table>		
	</div>
	<div class="content">
		{{ message.content.value | e | nl2br }}
	</div>
	{% if data.rendered_files %}
	<div class='message-uploaded-files clearfix'>
		{% for k,files in data.rendered_files %}				
			{% for file in files%}
				{% set image = "" %}
				{% set text = "" %}
				
				{% if k == 'images' %}
					{% set image = file.thumbnails.url_medium %}
					{% set class = ' photo' %}
				{% elseif k == 'files' %}
					{% set image = '/modules/message/img/file.png' %}
					{% set text = file.entity.filename.value %}
					{% set class = ' file' %}
				{% endif %}
				<div class='item{{ class }}' fid='{{ file.entity.id }}'>
					{% if text %}
						<a href='{{ file.url }}' title='Download' download >
					{% endif %}
						<img src='{{ image }}'/>
						<span class='file-name'>{{ text }}</span>
					{% if text %}
						</a>
					{% endif %}
				</div>
			{% endfor %}
		{% endfor %}
	</div>
	{% endif %}
</div>


<a class='reply bottom' href="/message/send?receiver={{ message.send_id.entity.name.value }}">
    <img src='/modules/message/img/reply.png'/>Reply 
</a>


<a class='delete view' href="/message/delete?id={{ message.id.value }}" style='display:none;'>
    [ Delete ]
    You can delete messages that you have sent to others
    Only if the other didn't not read the message yet.
</a>

